<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>{language var="title"}</title>
		<meta name="copyright" content="{language var="header_copyright"}" />
	</head>
	<body>
		<div>
			<h1>{language var="welcome"}</h1>
		</div>
		<div>
			<h2>Basic Information</h2>
			<ul>
				<li><a href="http://github.com/Fliew/Supercell/wiki">{language var="wiki"}</a></li>
				<li><a href="http://github.com/Fliew/Supercell">{language var="source"}</a></li>
				<li><a href="http://fliew.com/forums/index.php?/forum/7-supercell/">{language var="forums"}</li>
				<li><a href="https://github.com/Fliew/Supercell/issues">{language var="issues"}</a></li>
			</li>
		</div>
		<div>
			<h2>{language var="builder"}</h2>
			<ul>
				<li><a href="http://github.com/Fliew/Supercell-Builder">{language var="builder"}</a></li>
			</ul>
		</div>
		<div>
			{language var="copyright"}
		</div>
	</body>
</html>