##########
# Basics #
##########
Options +FollowSymLinks

ServerSignature Off
AddType video/x-flv .flv
AddType application/x-shockwave-flash .swf
AddType image/x-icon .ico
AddDefaultCharset UTF-8
DefaultLanguage en-US

AddHandler fastcgi-script fcgi
AddHandler php-cgi .php
Action php-cgi /cgi-bin/php5-wrapper.fcgi

#########
# Cache #
#########
<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico)$">
   Header set Cache-Control "max-age=2592000"
</FilesMatch>

# WEEK
<FilesMatch "\.(js|css|pdf|swf)$">
   Header set Cache-Control "max-age=604800"
</FilesMatch>
# 10 minutes
<FilesMatch "\.(html|htm|txt)$">
   Header set Cache-Control "max-age=600"
</FilesMatch>
# DONT CACHE
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
   Header unset Cache-Control
</FilesMatch>

ErrorDocument 404 /error/

##################
# Error Handling #
##################
php_flag  log_errors on
php_value error_log  /home/path/public_html/domain/PHP_errors.log

<Files php_errors.log>
	Order allow,deny
	Deny from all
	Satisfy All
</Files>

###########
# Rewrite #
###########
RewriteEngine On
RewriteBase /

#Reserved Pages
RewriteRule ^([A-Za-z0-9_\/-]+)/?$ /index.php/$1 [L]

AddHandler php5-script .php